<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ruthirsty.watertracker" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>RUthirsty</name>
    <description>
        Track your daily water intake and build healthy hydration habits.
    </description>
    <author email="dev@ruthirsty.com" href="https://ruthirsty.com">
        RUthirsty Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />

    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="android-targetSdkVersion" value="35" />
        <icon density="ldpi" src="www/res/icon/android/ldpi.png" />
        <icon density="mdpi" src="www/res/icon/android/mdpi.png" />
        <icon density="hdpi" src="www/res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="www/res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="www/res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="www/res/icon/android/xxxhdpi.png" />
    </platform>
</widget>
